trunk/Framework/Silverlight/Modules/ZxdFramework.Silverlight.Service/Service References/IM/IMService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ZxdFramework.WebUI/Services/IMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/ZxdFramework.WebUI/Services/IMService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" />
  <xs:element name="Join">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userid" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="state" type="q2:States" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="JoinResult" nillable="true" type="q3:IMUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OffLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userid" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OffLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SentMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="message" nillable="true" type="q5:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SentCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="command" nillable="true" type="q6:IMCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SentCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="setting" nillable="true" type="q7:IMUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="message" nillable="true" type="q8:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="command" nillable="true" type="q9:IMCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" minOccurs="0" name="user" nillable="true" type="q10:IMUserSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>