trunk/Framework/Silverlight/Modules/ZxdFramework.Silverlight.Service/Service References/IM/IMService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZxdFramework.DataContract.IM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ZxdFramework.WebUI/Services/IMService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="States">
    <xs:restriction base="xs:string">
      <xs:enumeration value="在线">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="离线">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="隐身">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="请勿打扰">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="忙碌">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Q我">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="States" nillable="true" type="tns:States" />
  <xs:complexType name="IMUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfIMUserGroup" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="TcpAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IMUser" nillable="true" type="tns:IMUser" />
  <xs:complexType name="ArrayOfIMUserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IMUserGroup" nillable="true" type="tns:IMUserGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIMUserGroup" nillable="true" type="tns:ArrayOfIMUserGroup" />
  <xs:complexType name="IMUserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Icon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Members" nillable="true" type="tns:ArrayOfIMUserSetting" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:IMUser" />
      <xs:element minOccurs="0" name="Type" type="tns:IMGroupTypes" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IMUserGroup" nillable="true" type="tns:IMUserGroup" />
  <xs:complexType name="ArrayOfIMUserSetting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IMUserSetting" nillable="true" type="tns:IMUserSetting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIMUserSetting" nillable="true" type="tns:ArrayOfIMUserSetting" />
  <xs:complexType name="IMUserSetting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsScriptSupport" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signing" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:States" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IMUserSetting" nillable="true" type="tns:IMUserSetting" />
  <xs:simpleType name="IMGroupTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="自己">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Common" />
      <xs:enumeration value="群" />
      <xs:enumeration value="讨论组" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="IMGroupTypes" nillable="true" type="tns:IMGroupTypes" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" type="ser:guid" />
      <xs:element minOccurs="0" name="Script" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" type="ser:guid" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="IMCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" type="ser:guid" />
      <xs:element minOccurs="0" name="Script" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:CommandTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IMCommand" nillable="true" type="tns:IMCommand" />
  <xs:simpleType name="CommandTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="添加用户">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="删除用户">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="创建对话">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommandTypes" nillable="true" type="tns:CommandTypes" />
</xs:schema>